

* { margin: 0px; padding: 0px; }

body {
	font-size: 120%;
	font-family: arial;
	background: #c7c7c7;
}

.nav {
	width: fit-content;
	margin: auto auto 0px;
	background: #ffffff;
	text-align: center;
	padding: 20px;
}

.navtext
{
	text-decoration: none;
	text-transform: uppercase;
	padding: 2em;
	color: black;
	font-weight: bold;
}

.navtext:hover {
	color: #000000;
}

.header {
	width: 40%;
	margin: 25px auto 0px;
	color: white;
	background: #000000;
	text-align: center;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

#admin {
	background: #000000;
}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 0px 0px 10px 10px;
}

#tables {
	width: 90%;
	font-size: 80%;
}
 .input-group {
	margin: 10px 0px 10px 0px;
} 
.input-group label {
	display: block;
	text-align: left;
	margin: 3px; 
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

#checkboxes {
display: table-row;
}

#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
} 
 .btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #000000;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
} 
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
} 
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
} 
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
} 

h3,p {
	padding: 1em;
}